name: ci

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y antlr4 clang-format clang-tidy cmake ninja-build libantlr4-runtime-dev

      - name: Dev check
        env:
          ANTLR4_RUNTIME_INCLUDE_DIR: /usr/include/antlr4-runtime
          ANTLR4_RUNTIME_LIB: /usr/lib/x86_64-linux-gnu/libantlr4-runtime.so
        run: |
          ./dev/check.sh
